.ckoutnav{
    font-size:15px;
    color:white;
    margin-left: 20%;
}

.rightnav{
    font-size: 11px;
    margin-left: 10px;
    vertical-align: right;
    padding: 10px;
}

#search{
    margin-left: 35%;
}
