<nav>
    <a class="mainnav" [routerLink]="['./new']">New </a>
    <a class="mainnav" [routerLink]="['./bestsellers']">Bestsellers</a>
    <a class="mainnav" [routerLink]="['./U20']">Gifts under $20</a>
    <a class="mainnav" [routerLink]="['./tools']">Tools & Tech</a>
    <a class="mainnav" [routerLink]="['./solar']">Solar-Powered</a>
    <a class="mainnav" [routerLink]="['./windup']">Wind-Up Toys</a>
    <a class="rightnav" [routerLink]="['/checkout/cart']">Cart (3)</a>    
    <form class="rightnav">
      <input name="search_bar" type="text" id="search" placeholder="Search..." [(ngModel)]="input.query">
      <a [routerLink]="['./search']" fragment="{{input.query}}">Search</a>
    </form>
</nav>
<!-- [routerLink]="['./search']" -->
<!-- (click)="search()" -->


<div id="scroller" style="width: 800px; min-height: 200px; margin: 0 auto; background-image:url(images/Homepage6.png); background-size: 1500px 200px; background-repeat: no-repeat;">
  <div class="innerScrollArea">
    <ul>
        <!-- Define photos here -->
        <li><a href="somewhere.html"><img src="images/log.png" width="200" height="200" /></a></li>
        <li><a href="somewhere.html"><img src="images/waiter.png" width="200" height="200" /></a></li>
        <li><a href="somewhere.html"><img src="images/bug1.png" width="200" height="200" /></a></li>
        <li><a href="somewhere.html"><img src="images/penguin-361x380_large.png" width="200" height="200" /></a></li>
        <li><a href="somewhere.html"><img src="images/camera_539x400.png" width="200" height="200" /></a></li>
        <li><a href="somewhere.html"><img src="images/penguin-361x380_large.png" width="200" height="200" /></a></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>

<!-- <app-home></app-home> -->
