<h1>Billing and Contact</h1>
<br>
<input type="text" name="first_name"placeholder="First Name" >
<br>
<input type="text" name="last_name" placeholder="Last Name">
<br>
<input type="text" name="email" placeholder="Email">
<br>
<input type="text" name="address" placeholder="Mailing Address">
<br>
<input type="text" name="phone_number" placeholder="Phone Number">
<br>

<h1>Payment Options</h1>
<br>
<input type="text" name="card_number"placeholder="Card Number" >
<br>
<input type="text" name="expiration_date" placeholder="Expiration Date">
<br>
<input type="text" name="security_code" placeholder="Security Code">
<br>

<a [routerLink]="['../revieworder']">Proceed To Checkout</a>
